* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #231c1a;
    height: 80px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    margin-left: 4vw;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.left {
    position: relative;
    left: 12vw;
    display: flex;
}

.profile {
    position: relative;
    right: 12vw;
}

.profile img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

main {
    background-color: #f5f5f5;
}

.introduction {
    width: 60vw;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

#partner {
    width: 70vw;
    margin: 30px 15vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    ;
    width: 350px;
    height: 170px;
    padding: 25px;
    margin-top: 2vw;
    margin-right: 2vw;
    border-radius: 15px;
    cursor: pointer;
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 32px 80px 14px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
    }
}

.card-head {
    display: flex;
}

.card-head img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.card-head div {
    margin-left: 15px;
}

.card-tach {
    margin-top: 25px;
}

.card-intro {
    margin-top: 8px;
}

#faq {
    margin-left: 15vw;
    padding-bottom: 80px;
}

footer {
    background-color: #000000;
    color: #b7b7b7;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

/* profile page css */

.profile-section{
    background-color: #f5f5f5;
    height: 90vh;
}
.detail-n {
    height: 30px;
    background-color: #f5f5f5;
}

.detail {
    background-color: white;
    width: 40vw;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
}

.detail-head {
    display: flex;
    height: 94px;
}

.detail-head img {
    width: 94px;
    height: 94px;
    border-radius: 50%;
}

.detail-head-right {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-contact {
    margin-top: 20px;
    margin-bottom: 20px;
}